.detailContainer
  width: 97%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  flex-direction: column;
  background-color: var(--principal-gray-dark);
  border-radius: 0.5rem;
  position: relative;
  & .detailStatus
    width: 95%;
    height: 12%;
    display: flex;
    padding: 0 1rem;
    align-items: flex-end;
    justify-content: center;
    & h2
      font-size: 2.5vw;
      font-weight: 600;
      padding-bottom: 0.3rem;
    & .orderTools
      position: absolute
      right: 1rem
      top: 0
      & button
        background: url(/src/assets/closeIcon.png) no-repeat;
        background-size: 60%;
        background-position: center;
        cursor: pointer;
        margin-top: 1rem;
        width: 1.6rem;
        height: 1.6rem;
        color: var(--gray-light);
        border: none;
  & .detailHeader
    width: 95%;
    display: flex;
    justify-content: space-between;
    height: 5%;
    margin-top: 1rem;
    font-size: 1.6vw;
    align-items: center;
    padding: 0 1rem;
    color: var(--white)
    font-weight: 600
    & .client
      display: flex
      & input
        text-align: center
        margin-left: 1rem;
        font-weight: 200;
        width: 11rem;
        background: none;
        outline: none;
        border: none;
        border-bottom: .1rem solid var(--pink-light);
        font-size: 1.6vw;
        color: var(--white)
    & .table
      display: flex;
      & input
        text-align: center
        margin-left: 1rem;
        font-weight: 200;
        width: 3rem;
        background: none;
        outline: none;
        border: none;
        border-bottom: .1rem solid var(--pink-light);
        font-size: 1.6vw;
        color: var(--white)
  & .detailContent
    width: 95%;
    height: 56%;
    max-height: 56%;
    overflow: auto;
    margin-top: 1rem;
    font-size: 1.6vw;
    padding: 0 1rem;
    & ul
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      & .productItem
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-weight: 100;
        align-items: center;
        & .productItemDescription
          display: flex;
          flex-direction: column;
          width: 30%;
          & .productName
            font-size: 1.5vw;
          & .productQuantity
            color: var(--gray-dark);
            font-size: 1.1vw;
            margin-top: 0.5rem;
        & .quantity
          width: 25%
          display: flex
          & span
            margin: 0 1em;
          & button
            margin: 0
            border-radius: .5rem;
            height: 1.5rem;
            width: 2rem;
            background-color: var(--jade);
            text-align: center;
            &:hover
              background-color: var(--jade-light);
        & .deleteProduct
          background: url(/src/assets/deleteIcon.png) no-repeat;
          background-size: 90%;
          background-position: center;
          cursor: pointer;
          width: 1rem;
          height: 1rem;
          color: var(--gray-light);
          border: none;
  
  & .detailBottom
    width: 100%;
    height: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    & .button
      width: 100%;
      height: 100%;
      font-size: 2vw;
      & button
        border-radius: 0 0 .5rem .5rem;
        background-color: var(--jade)
        color: var(--white);
        font-size: 2vw;
        font-weight: 600;
        &:hover
          background-color: var(--jade-light)
  & .detailTotal
    width: 95%;
    height: 7%;
    display: flex;
    padding: 0 1rem;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.5vw;
    & span
      margin-right: 1.2rem

.productItem
  display: grid
  grid-template-colums: repeat(3, 1fr)
  & .productItemDescription
    display flex
    flex-direction: column