section
  width: 100vw
  height: 75vh
  & div
    margin: 2%
    width: 96%
    height: 97%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: .1rem solid var(--pink-light);
    border-radius: 1rem;
    & figure
      width: 16%
      height: 30%
      & img
        height: 100%
    & .userGreeting
      /* font-family: var(--font-primary) */
      font-size: 4vw
      letter-spacing: .1rem
      margin: 0
    & p
      margin-top: 3%
      font-size: 2.6vw
      width: 65%;
      text-align: center;
    & .thanks
      color: var(--pink-light)
      margin-top: 3%
