.products
  display: flex
  flex-direction: row
  width: 100%
  height: 78vh
  padding: 1rem
  & section
    width: 50%
    height: 100%;
    display: grid;
  & section:nth-child(1)
    border-right: .1rem solid var(--gray)
    padding: 0 1rem 0 0;
  /* & .categoryBtn
    height: 100%;
    //height: 9.6rem;
    border-radius: 0.7rem;
    border-bottom: 0.3rem solid var(--principal-gray-dark);
    border-right: 0.3rem solid var(--principal-gray-dark);
    border-top: 0.3rem solid var(--principal-gray-light);
    border-left: 0.3rem solid var(--principal-gray-light); */
    /* & h2
      font-size: 3vw;
      text-indent: 4rem;
      font-weight: 500; */