.categoryGrid
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr))
  grid-gap: .9rem
  margin: 1rem 0
  & div
    width: 100%
    & img
      width: 100%
      border-radius: .5rem
    & h3
      text-align: center
      font-weight: 500
      font-size: 1.4vw
      margin: .8rem 0