.snackbarContainer
  height: 6%
  width: 25%
  position: fixed
  //top: 2rem
  //left: 58%
  top: 1.2rem;
  left: 94%;
  margin-left: -15rem
  display: flex
  justify-content: center
  align-items: center
  color: var(--white)
  opacity: 0
  visibility: hidden
  transition: .5s ease
  font-size: 1.3vw
  border-radius: .2rem
  background-color: var(--principal-gray-dark)
.success
  border-bottom: 0.1rem solid var(--green)
  border-right: 0.1rem solid var(--green)
  border-top: 0.1rem solid var(--green-light)
  border-left: 0.1rem solid var(--green-light)
  box-shadow: 0 .1rem .5rem 0 var(--green)
.error
  //background-color: var(--red)
  border-bottom: 0.1rem solid var(--red-dark)
  border-right: 0.1rem solid var(--red-dark)
  border-top: 0.1rem solid var(--red-light)
  border-left: 0.1rem solid var(--red-light)
  box-shadow: 0 .1rem .5rem 0 var(--red-dark)
.info
  background-color: var(--jade)
.warning
  //background-color: var(--orange-light)
  border-bottom: 0.1rem solid var(--orange)
  border-right: 0.1rem solid var(--orange)
  border-top: 0.1rem solid var(--orange-light)
  border-left: 0.1rem solid var(--orange-light)
  box-shadow: 0 .1rem .5rem 0 var(--red-dark)
  box-shadow: 0 .1rem .5rem 0 var(--orange)
.isOpen
  opacity: 1
  visibility: visible