:root
    --principal-gray: #262626
    --principal-gray-light: #363636
    --principal-gray-dark: #202020
    --gray: #A5A3A3
    --gray-dark: #827F7F
    --gray-light: #D6CECE
    --white: #FFFBF8
    --jade: #34B5AD
    --jade-light: #77D3CE
    --jade-dark: #11645F
    --green: #C9DF6D
    --green-light: #DBE4B5
    --red: #F34055
    --red-light: #FF8291
    --red-dark: #ce2b3e;
    --pink: #D97CBF
    --pink-light: #F3B2E1
    --orange: #EF5A30
    --orange-light: #FC8868
    --font-primary: 'Gurajada', serif
    --font-secondary: 'Roboto', sans-serif

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: var(--font-secondary)

body
  background-color: var(--principal-gray)
  color: var(--white)
  font-size: 62.5%

::placeholder 
  color: var(--gray)

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none;
  margin: 0;
